<div class="row">

  <div class="medium-12 large-12 columns">
    <h1>Desserts</h1>
    <p class="subheader">Chinese desserts are not well known, but the baking and the puddings are absolutely delicious. Many of them are even gluton free!</p>
  </div>
 </div>

 <div class="row column">
  <hr>
</div>
<div class="row">
	<div class="large-8 medium-12 columns" style="border-right: 1px solid #E3E5E8;">
	    <article>
      	<% @recipes.each_with_index do |recipe, index| %>
            <% if index.odd? %>
            <div class="row show-for-small-only">
                            
              <!-- START ADVERTISER: Chocolate Trading Company from affiliatewindow.com -->

              <a href="https://www.awin1.com/cread.php?s=581449&v=350&q=285041&r=217929">
                  <img src="https://www.awin1.com/cshow.php?s=581449&v=350&q=285041&r=217929" border="0">
              </a>

              <!-- END ADVERTISER: Chocolate Trading Company from affiliatewindow.com -->

            </div>
            <br />
            <br />
            <% else %>
            <div class = "row show-for-small-only">
         
            <!-- START ADVERTISER: Waitrose Florist from affiliatewindow.com -->

            <a href="https://www.awin1.com/cread.php?s=581811&v=4383&q=285283&r=217929">
                <img src="https://www.awin1.com/cshow.php?s=581811&v=4383&q=285283&r=217929" border="0">
            </a>
            </div>

            <!-- END ADVERTISER: Waitrose Florist from affiliatewindow.com -->
            <br />
            <br />
            <% end %>
		      <div class="row">
		        <%= link_to recipe_path(recipe) do %>
		          <div class="large-6 medium-6 columns">
		            <p><%= image_tag recipe.photo.image_url if recipe.photo.present? %></p>
		          </div>
		          <div class="large-6 medium-6 columns">
		            <h5><%= recipe.title %></h5>
		            <p>
		              <span><i class="fi-calendar"><%= recipe.published_at.strftime("%d-%m-%Y") %></i></span>
		            </p>
		            <p><%= truncate(recipe.content.html_safe {link_to 'continue', recipe_path(recipe)},length: 140) %></p>
		          </div>
		        <% end %>
		      </div>
		    <% end %>
	    <hr>
	   </article>
	    <div class="row column">
	      <%= will_paginate @recipes %>
	    </div>
	</div>

    <div class="large-4 medilum-12 columns">
       <%= render :partial => 'layouts/side_column_ads' %>      
    </div>

      <br />
</div>