

<div class="row">
  <%= link_to recipe_path(@feature_recipe) do %>
    <div class="medium-8 columns">
      <p><%= image_tag @feature_recipe.photo.image_url if @feature_recipe.photo.present? %></p>
    </div>
  <% end %>
    <div class="medium-4 columns">
      <p><%= image_tag @recipes.offset(rand(@recipes.count)).first.photo.image_url if @recipes.offset(rand(@recipes.count)).first.present? && @recipes.offset(rand(@recipes.count)).first.photo.present? %></p>
      <p><%= image_tag @recipes.offset(rand(@recipes.count)).second.photo.image_url if @recipes.offset(rand(@recipes.count)).first.present? && @recipes.offset(rand(@recipes.count)).first.photo.present? %></p>
    </div>

</div>

<hr>

<div class="row column">
  <h4 style="margin: 0;" class="text-center">LATEST RECIPES</h4>
</div>

<hr>

<div class="row">
  <div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">

  <article>

    <% @recipes.each do |recipe| %>
      <div class="row">
        <%= link_to recipe_path(recipe) do %>
          <div class="large-6 medium-6 columns">
            <p><%= image_tag recipe.photo.image_url if recipe.photo.present? %></p>
          </div>
          <div class="large-6 medium-6 columns">
            <h5><%= recipe.title %></h5>
            <p>
              <span><i class="fi-calendar"><%= recipe.published_at %></i></span>
            </p>
            <p><%= truncate(recipe.content.html_safe {link_to 'continue', recipe_path(recipe)},length: 140) %></p>
          </div>
        <% end %>
      </div>
    <% end %>

    <hr>

    <ul class="pagination" role="navigation" aria-label="Pagination">
      <li class="disabled">Previous <span class="show-for-sr">page</span></li>
      <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
      <li><a href="#" aria-label="Page 2">2</a></li>
      <li><a href="#" aria-label="Page 3">3</a></li>
      <li><a href="#" aria-label="Page 4">4</a></li>
      <li><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
    </ul>

   </article>

  </div>

  <div class="large-4 columns">

    <aside>

      <div class="row small-up-4">

        <div class="column text-center">
        <%= link_to image_tag('twitter-icon.png', :class => 'header-social-icon social-share-button'), 'https://twitter.com/Stinky_Tofu', :id => 'social-icon-link-twitter' %>
        </div>
        <div class="column text-center">
        <%= link_to image_tag('facebook-icon.png', :class => 'header-social-icon social-share-button'), 'https://www.facebook.com/cookingchineseathome/', :id => 'social-icon-link-facebook' %>
        </div>
        <div class="column text-center">
        <%= link_to image_tag('youtube-icon2.png', :class => 'header-social-icon social-share-button'), 'https://www.youtube.com/channel/UC0w5U7pqq4Q3zWN1rSsGAWQ', :id => 'social-icon-link-youtube' %>
        </div>
      </div>

      <br>

      <div class="row column">
        <p class="lead">FROM OUR FRIENDS</p>
        <p>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- ad-cookblog 2 -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-9281207145489175"
               data-ad-slot="7401385642"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </p>
        <p>
          <!-- START ADVERTISER: lastminute.com from affiliatewindow.com -->

          <a href="https://www.awin1.com/cread.php?s=487007&v=4329&q=35130&r=217929">
              <img src="https://www.awin1.com/cshow.php?s=487007&v=4329&q=35130&r=217929" border="0">
          </a>
          <!-- END ADVERTISER: lastminute.com from affiliatewindow.com -->
        </p>
        <p>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- ad-cookblog -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-9281207145489175"
               data-ad-slot="6064253240"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </p>
        <p>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- side-vertical -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:300px;height:600px"
               data-ad-client="ca-pub-9281207145489175"
               data-ad-slot="8459316449"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </p>
      </div>

      <br>

      <!-- <div class="row column">
        <p class="lead">TRENDING POSTS</p>

        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src= "http://placehold.it/100">
          </div>
          <div class="media-object-section">
            <h5>All I need is a space suit and I'm ready to go.</h5>
          </div>
        </div> -->

      </div>
      
    </aside>
    
  </div>
</div>