<div class="row">

  <div class="medium-12 large-12 columns">
    <h1>Main Dishes</h1>
    <p class="subheader">Are you looking for some inspirations for dinner? These quick and easy dishes will just fit the bill. Sometimes people think that Chinese cooking is difficult, but it is absolutely not the case for home cooking! Plus they are delicious.</p>
  </div>
 </div>

 <div class="row column">
  <hr>
</div>

<div class="row">
	<div class="large-8 medium-12 columns" style="border-right: 1px solid #E3E5E8;">
	    <article>
		    <% @recipes.each do |recipe| %>
		      <div class="row">
		        <%= link_to recipe_path(recipe) do %>
		          <div class="large-6 medium-6 columns">
		            <p><%= image_tag recipe.photo.image_url if recipe.photo.present? %></p>
		          </div>
		          <div class="large-6 medium-6 columns">
		            <h5><%= recipe.title %></h5>
		            <p>
		              <span><i class="fi-calendar"><%= recipe.published_at.strftime("%d-%m-%Y") %></i></span>
		            </p>
		            <p><%= truncate(recipe.content.html_safe {link_to 'continue', recipe_path(recipe)},length: 140) %></p>
		          </div>
		        <% end %>
		      </div>
		    <% end %>
	    <hr>
	   </article>
	    <div class="row column">
	      <%= will_paginate @recipes %>
	    </div>
	</div>

    <div class="large-4 medilum-12 columns">
       <%= render :partial => 'layouts/side_column_ads' %>      
    </div>

      <br />
</div>