<% content_for :head do %> 
  <meta property="og:title" content="<%= @recipe.title %>" />
  <meta property="og:image" content="<%= @recipe.photo.image_url %>" />
<% end %>

<div class="row">
  <div class="large-8 medium-12 columns" style="border-right: 1px solid #E3E5E8;">
    <h1><%= @recipe.title %></h1>
      <p><%= image_tag @recipe.photo.image_url %></p>


    <article>
       <div class="row show-for-small-only">
                            
              <!-- START ADVERTISER: Chocolate Trading Company from affiliatewindow.com -->

              <a href="https://www.awin1.com/cread.php?s=581449&v=350&q=285041&r=217929">
                  <img src="https://www.awin1.com/cshow.php?s=581449&v=350&q=285041&r=217929" border="0">
              </a>

              <!-- END ADVERTISER: Chocolate Trading Company from affiliatewindow.com -->

      </div>
            <br />
            <br />
        
        <div class="row">         
          <div class="large-12 medium-12 columns">
            <p>
              <!-- <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span> -->
              <span><i class="fi-calendar"> <%= @recipe.published_at %></i></span>
            </p>
            <p><%= @recipe.content.html_safe %></p>
          </div>

        </div>


     </article>
     <div class = "row show-for-small-only">
         
            <!-- START ADVERTISER: Waitrose Florist from affiliatewindow.com -->

            <a href="https://www.awin1.com/cread.php?s=581811&v=4383&q=285283&r=217929">
                <img src="https://www.awin1.com/cshow.php?s=581811&v=4383&q=285283&r=217929" border="0">
            </a>


            <!-- END ADVERTISER: Waitrose Florist from affiliatewindow.com -->
      </div>
            <br />
            <br />



  </div>

  <div class="large-4 medium-12 columns">

    <aside>
    <p class="lead ">SHARE</p>
      <div class="row small-up-4 social">
          <%= social_share_button_tag(@recipe.title) %>
      </div>

      <br />

      <div class="row column">
          <%= render :partial => 'layouts/side_column_ads' %>      
      </div>
      
    </aside>
    
  </div>
</div>