<tr>	
	<td>
		<%= f.input :amount, label: false, input_html: {class: 'form-control'} %>
	</td>
	<td>
		<%= f.input :unit, label: false, input_html: {class: 'form-control'}  %>
	</td>
	<td>
		<%= f.simple_fields_for :ingredient, f.object.build_ingredient do |builder| %>
			<%= builder.input :name, label: false, input_html: {class: 'form-control'}  %>
		<% end %>
	</td>
	<td>
		<%= f.input :processed_form, label: false, input_html: {class: 'form-control'} %>
	</td>
	<td>
		<%= casein_hidden_field f, f.object, :_destroy %>
		<%= link_to 'remove', '#', :class => 'remove_fields' %>
	</td>
</tr>