
<fieldset class=''>

	<div class="col-lg-2 col-md-2">
		<%= casein_text_field f, f.object, :amount %>
	</div>
	<div class="col-lg-2 col-md-2">
		<%= casein_text_field f, f.object, :unit %>
	</div>
	<div class="col-lg-4 col-md-4">
		<%= f.simple_fields_for :ingredient, @recipe.ingredients.new do |builder| %>
			<%= casein_text_field builder, builder.object, :name %>
		<% end %>
	</div>
	<div class="col-lg-4 col-md-4">
		<%= casein_text_field f, f.object, :processed_form %>
		<%= casein_hidden_field f, f.object, :_destroy %>
		<%= link_to 'remove', '#', :class => 'remove_fields' %>
	</div>
<hr />
</fieldset>