<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Chinese Cooking at Home" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header>
      <!-- Sub Navigation -->
      <div class="top-bar">
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="#">About</a></li>
          </ul>
        </div>
<!--         <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div> -->
      </div>
      <!-- /Sub Navigation -->

      <!-- logo and ad break -->
      <div class="row">
        <div class="medium-4 columns hdr-row">
          <%= link_to root_path do %>
          <%= image_tag 'ChineseCookingLogo.png', :alt => 'Chinese Cooking at Home Logo' %>
          <% end %>
        </div>
        <div class="medium-8 columns hdr-row">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Banner-food -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-9281207145489175"
               data-ad-slot="5959312041"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
      <!-- / logo and ad break -->
    
      <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
      </div>

      <div class="top-bar" id="main-menu">
        <ul class="menu vertical medium-horizontal expanded medium-text-center" data-responsive-menu="drilldown medium-dropdown">
          <li><%= link_to 'Main Dishes', main_dishes_recipes_path %></li>
          <li><%= link_to 'Desserts', desserts_recipes_path %></li>
          <li><%= link_to 'Articles & Tips', articles_tips_recipes_path %></li>
          <li><%= link_to 'Deals', deals_recipes_path %></li>
        </ul>
      </div>

    </header>

    <br>

    <%= yield %>

    <footer>
      <div class="row expanded callout secondary">

        <div class="large-4 columns">
          <h5>About</h5>
          
        </div>

        <div class="large-4 columns">
          <h5>Keywords</h5>
          <% tag_cloud @tags, %w(tag_cloud) do |tag| %>
            <%= link_to tag.name, keyword_path(tag.name), :class => 'secondary label' %>
          <% end %>
        </div>

        <div class="large-4 columns">
          <h5>Chinese Cooking at Home</h5>
          <p>This website translates amazing gourmet Chinese recipes. This is not the typical Chinese food you will get at a Chinese restaurant. These are the recipes what people cook at home or you get to eat at authentic banquet restaurants in China or Taiwan! Saying that...these are simple to make, as they should be!</p>
        </div>

      </div>

      <div class="row expanded">

<!--         <div class="medium-6 columns">
          <ul class="menu">
            <li><a href="#">Legal</a></li>
            <li><a href="#">Partner</a></li>
            <li><a href="#">Explore</a></li>
          </ul>
        </div> -->

          <div class="large-12 medium-12 columns">
            <ul class="menu align-right">
              <li class="menu-text">Copyright © 2016 Chinese Cooking at Home</li>
            </ul>
          </div>
      </div>

    </footer>

  </body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44224898-2', location.pathname);
  ga('send', 'pageview');

</script>
